﻿@model List<PostcodeCheck.DomainModel.Scan>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Scans in database</h1>
    <ol>
        @foreach(var o in Model){
            <li>@o.scanName - @o.scanStrategy</li>
        }
    </ol>
</div>
