﻿@using PostcodeCheck.SniffStrategies.core
@model PostcodeCheckWebapp.Models.HomeViewModels.NewCsvScanViewModel

@{
    ViewData["Title"] = "Nieuwe scan aanmaken op baiss van csv";
}

<h1>NewCsvScan</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="NewCsvScan">
    
    <!-- CSV upload -->
    <div class="form-group">
        <label asp-for="ZipcodeCsv" for="ZipcodeCsv">Upload csv met postcode's</label>
        <input type="file" class="form-control-file" id="ZipcodeCsv" name="ZipcodeCsv" asp-for="ZipcodeCsv">
        <span asp-validation-for="ZipcodeCsv" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <small id="ScanNameHelp" class="form-text text-muted">Het formaat van het csv document wordt zoals onderstaand verwacht. Waardes zijn geschijden met het ";" teken. Mocht er een waarde onbreken in één van de regels dan wordt deze niet gescand. <i class="fa fa-exclamation-circle"></i></small>
        <table class="table table-nonfluid">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Extern ID</th>
                <th scope="col">Postcode</th>
                <th scope="col">Huisnummer</th>
                <th scope="col">Huisletter</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>34434</td>
                <td>7211EL</td>
                <td>33</td>
                <td>E</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    @Html.Partial("Shared/_ScanBasicFormPartial")
    
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Start scan</button>
        </div>
    </div>
</form>



<script>
    $(function() {
        document.getElementById('ZipcodeCsv').onchange = function () {
            var fileName = this.files.item(0).name.replace(/\.[^/.]+$/, "");

            document.getElementById('ScanName').value = fileName;
        };
    });
</script>