﻿
@{
    ViewData["Title"] = "TestMap";
}

<div id="map">
</div>

<!-- css -->
<link rel="stylesheet" href="~/css/leaflet/leaflet.css">
<link rel="stylesheet" href="~/css/leaflet/qgis2web.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />
<style>
    #map {
        width: 700px;
        height: 400px;
        padding: 0;
        margin: 0;
        border: 2px solid black;
    }
</style>

<!-- javascript -->
<script src="~/js/leaflet/qgis2web_expressions.js" > </script > 
<script src="~/js/leaflet/leaflet.js" > </script > 
<script src="~/js/leaflet/leaflet.rotatedMarker.js" > </script > 
<script src="~/js/leaflet/leaflet.pattern.js" > </script > 
<script src="~/js/leaflet/leaflet-hash.js" > </script > 
<script src="~/js/leaflet/Autolinker.min.js" > </script > 
<script src="~/js/leaflet/rbush.min.js" > </script > 
<script src="~/js/leaflet/labelgun.min.js" > </script > 
<script src="~/js/leaflet/labels.js" > </script > 
<script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js" > </script >

<script>

    $(function () {

        var map = L.map('map', {
            zoomControl: true, maxZoom: 28, minZoom: 1
        }).fitBounds([[52.6474759888, 5.5866234813], [52.6754625322, 5.64666084543]]);

        var basemap0 = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 28
        });
        basemap0.addTo(map);

        // define toolbar options
        var options = {
            position: 'topleft', // toolbar position, options are 'topleft', 'topright', 'bottomleft', 'bottomright'
            drawMarker: true, // adds button to draw markers
            drawPolyline: true, // adds button to draw a polyline
            drawRectangle: true, // adds button to draw a rectangle
            drawPolygon: true, // adds button to draw a polygon
            drawCircle: true, // adds button to draw a cricle
            cutPolygon: true, // adds button to cut a hole in a polygon
            editMode: true, // adds button to toggle edit mode for all layers
            removalMode: true, // adds a button to remove layers
        };

        // add leaflet.pm controls to the map
        map.pm.addControls(options);

        //var bounds_group = new L.featureGroup([]).addTo(map);

        var featureGroup = L.featureGroup().addTo(map);

        map.on('pm:create', function (e) {

            // Each time a feature is created, it's added to the over arching feature group
            featureGroup.addLayer(e.layer);
        });
    
        /*document.getElementById('export').onclick = function (e) {
            // Extract GeoJson from featureGroup
            var geojson = featureGroup.toGeoJSON();
    
            console.log(geojson);
        }*/ 
    });

</script>

