﻿@{
    ViewData["Title"] = "Test pagina voor live feed data";
}

<h1>live feed test</h1>
<i id="testSubject"></i>

<script>
 
    (function () {
        "use strict";
        
        var protocol = location.protocol === "https:" ? "wss:" : "ws:";
        var wsUri = protocol + "//" + window.location.host;
        var socket = new WebSocket(wsUri);

        var viewTarget = document.getElementById("testSubject");
 
        socket.onmessage = function (e) {
            var reading = JSON.parse(e.data);

            viewTarget.innerText = e.data;
        };

    }());
</script>