﻿@using PostcodeCheck.SniffStrategies.core
@model PostcodeCheckWebapp.Models.HomeViewModels.NewCsvScanViewModel

<div class="form-row">
    <div class="form-group col-md-6">
            
        <!-- Naam scan -->
        <label for="ScanName" asp-for="ScanName">Naam van scan</label>
        <input type="text" class="form-control" id="ScanName" name="ScanName" asp-for="ScanName" aria-describedby="ScanNameHelp" placeholder="Utrecht scan 1">
        <span asp-validation-for="ScanName" class="text-danger"></span>
        <small id="ScanNameHelp" class="form-text text-muted">Naam wordt automatisch ingevuld aan de hand van de bestandsnaam <i class="fa fa-exclamation-circle"></i></small>
    </div>
    <div class="form-group col-md-6">
            
        <!-- Scan strategie -->
        <label asp-for="ScanStrategy" for="ScanStrategy">Scan strategie</label>
        <select class="form-control" id="ScanStrategy" name="ScanStrategy" asp-for="ScanStrategy">
            @foreach (SnifferStrategy s in Enum.GetValues(typeof(SnifferStrategy)))
            {
                <option value="@s">@s</option>
            }
        </select>
        <span asp-validation-for="ScanStrategy" class="text-danger"></span>
     </div>
 </div>