﻿@model List<PostcodeCheck.DomainModel.Address>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">External ID</th>
        <th scope="col">Postcode</th>
        <th scope="col">Huisnummer</th>
        <th scope="col">Huisletter</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var address in Model)
        {
            <tr>
                <th scope="row">@address.ID</th>
                <td>@address.zipcode</td>
                <td>@address.houseNumber</td>
                <td>@address.addressAddition</td>
            </tr>
        }
    </tbody>
</table>